<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">Symfony/Form</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./contactos-v1">Form V1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contactos-v2">Form V2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contactos-v3">Form V3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./post/crear">Post V1</a>
                </li>
            </ul>
        </div>
    </div>
</nav>